.cinza{
    background-color: #393939;
}

.black{
    color: black;
}

div.tres {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 200px;
    border: 200px solid;
    /* As 4 bordas sólidas com 25px de espessura */
    border-color: #f7f7f7 #f7f7f7 #f7f7f7 #f7f7f7;
    /* cores: topo, direita, inferior, esquerda */
}